<h1>Products</h1>
<ul class="nav navbar-nav">
      {{#link-to 'index' tagName="li"}}<a href="">Product A</a>{{/link-to}}
      <!-- {{#link-to 'about' tagName="li"}}<a href="">Product B</a>{{/link-to}}
      {{#link-to 'contact' tagName="li"}}<a href="">Product C</a>{{/link-to}} -->
</ul>
